@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation and links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 300px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/beatles-bw-walk-image.jpeg') no-repeat center center; /* change image later > delete comment after */

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(148, 148, 148, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* club ethos */

#club-ethos {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr { /*header rule */
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-adoubt-heading h2 {
    text-align: right;
}

.right-about-heading {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/beatles-head-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* albums */

.albums-image {
    background: #eee;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.albums-image > div {
    background: #ccc;
    text-align: center;
    height: 200px;
    padding: 20px;
    border: 1px solid #777;
}

.albums-image > div:nth-child(1) {
    grid-column: 1 / span 3;
    background: url('../images/please-please-me.jpeg') no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.albums-image > div:nth-child(2) {
    grid-column: span 3;
    background: url('../images/with-the-beatles.jpeg') no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.albums-image > div:nth-child(3) {
    grid-column: span 3;
    background: url('../images/a-hard-days-night.jpeg') no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.albums-image > div:nth-child(4) {
    grid-column: span 3;
    background: url('../images/beatles-for-sale.jpeg');
    background-size: cover;
    opacity: 0.5;
}

.albums-image > div:nth-child(5) {
    grid-column: span 3;
    background: url('../images/help.jpeg') no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.albums-image > div:nth-child(6) {
    grid-column: span 3;
    background: url('../images/rubber-soul.jpeg') no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.albums-image > div:nth-child(7) {
    grid-column: span 3;
    background: url('../images/revolver.jpeg') no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.albums-image > div:nth-child(8) {
    grid-column: span 3;
    background: url('../images/sgt-pepper.jpeg') no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.albums-image > div:nth-child(9) {
    grid-column: span 3;
    background: url('../images/white-album.jpeg');
    background-size: cover;
    opacity: 0.5;
}

.albums-image > div:nth-child(10) {
    grid-column: span 3;
    background: url('../images/yellow-submarine.jpeg') no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.albums-image > div:nth-child(11) {
    grid-column: span 3;
    background: url('../images/abbey-road.jpeg') no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.albums-image > div:nth-child(12) {
    grid-column: span 3;
    background: url('../images/let-it-be.jpeg') no-repeat;
    background-size: cover;
    opacity: 0.5;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* media queries*/

/* For larger to medium screen size */
@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }
}